<h2>Performance Charting</h2>
<select>
    <option value="7">Last 7 Days</option>
    <option value="30">Last 30 Days</option>
    <option value="yeartodate">Year to Date</option>
</select>

<div style="text-align: center; margin: 32px 0;height: 400px; border: 1px solid #eee;padding: 200px 0;">
Google Chart
</div>
<div style="padding-top: 24px;">
    <a href="" class="btn btn-primary">Download Performance Data as (CSV) -- what diff </a>
    <a href="" class="btn btn-primary">Download Chart</a>
</div>
