<h2>Performance Charting</h2>

<select>
    {% for q in questions_presentation %}
    <option value="{{q.number}}">{{q.title|e}}</option>
    {% endfor %}
</select>

{% include 'FgmsSurveyBundle:Default:includes/admin-select-period.html.twig' ignore missing %}

<div style="text-align: center; margin: 32px 0;border: 1px solid #eee;padding: 200px 50px;font-size: 24px;">No Data</div>
<div style="text-align: center; margin: 32px 0;height: 400px; border: 1px solid #eee;padding: 0 0;"></div>
<div style="text-align: center; margin: 32px 0;height: 400px; border: 1px solid #eee;padding: 0 0;"></div>
<div style="padding-top: 24px;">
    <a href="" class="btn btn-primary">Download Performance Data as CSV</a>
    <a href="" class="btn btn-primary">Download Bar Chart</a>
    <a href="" class="btn btn-primary">Download Pie Chart</a>
</div>
