<h2>Guest Feedback</h2>

<div>
    <label>Question</label>
    <select class="form-control">
        {% for q in questions_presentation %}
        {% if not q.type is defined or q.type == 'open' %}
        <option value="{{q.number}}">{{q.title|e}}</option>
        {% endif %}
        {% endfor %}
    </select>
</div>

{% include 'FgmsSurveyBundle:Default:includes/admin-select-period.html.twig' ignore missing %}

<table class="table">
    <thead>
        <tr><th>Date</th><th>Room Number</th><th>Feedback</th></tr>
    </thead>

</table>
<div style="padding-top: 24px;">
    <a href="" class="btn btn-primary">Download Guest Feedback as (CSV) </a>
   
</div>
