<h2>Guest Feedback</h2>

<div class="form-horizontal question-period-filter">
    <div class="form-group">
        <label class="col-md-3 col-lg-2 control-label">Question</label>
        <div class="col-md-9 col-lg-8">
            <select class="form-control select-question" >
                {% for q in questions_presentation if q.type == 'open' %}
                    
                <option value="{{q.number}}">{{q.title|e}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    {% include 'FgmsSurveyBundle:Default:includes/admin-select-period.html.twig' ignore missing %}    
</div>

<div class="feedback-wrapper">
    <div class="feedback-data">
        <table class="table">
            <thead>
                <tr><th>Date</th><th>Room Number</th><th>Feedback</th></tr>
            </thead>
        </table>
        
        <a href=""  class="btn btn-primary feedback-action">Download Guest Feedback as (CSV) </a>   
        
    </div>
    <div class="feedback-no-data" >No Data</div>
    <div class="feedback-loading"><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span></div>
  
</div>


