<div>
    <label>Date Filter</label>
    <select>
        <option value="7">Last 7 Days</option>
        <option value="30">Last 30 Days</option>
        <option value="60">Last 60 Days</option>
        <option value="90">Last 90 Days</option>
        <option value="yeartodate">Year to Date</option>
    </select>
</div>
