/* beginning _buttons.less */

button, .btn {
    &.btn-circle {
        padding: 12px;
        width: 46px;
        border-radius: 92px;
    }
}
/*

.start-over-button {
	padding: 12px 0;
    
    a {
        padding: 12px 48px;
        margin-top: 12px;
        text-decoration: none;
        .button-border-radius; //mixin
        
        &:hover {
            .button-box-shadow; //mixin
            .button-bg-color-transition;  //mixin
        }
    }
}

.button-boolean {
    font-size: 32px;
    font-weight: 700 !important;
    
    @media screen and (max-width: @samsung-max){
        font-size: 22px;
    }
} //.button-boolean

.button-text {
    font-weight: 700 !important;
} //.button-text

/* end _buttons.less */