/* beginning global.less */

body {
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: left top;
	background-color: red;
	background-size: 100% auto;
    font-family: @font-default;
	height: 100vh;
	margin: 0;
	padding: 0;
    
    @media screen and (max-width: @md-max){
        background-size: 120%, auto;
    }
    
    @media screen and (max-width: @sm-max){
        background-size: 180%, auto;
    }
}

a {
    &:focus {
        outline:none;  outline-offset: -2px;
    }
}

.wrapper {
	background-color: @see-thru-white;
	width: 100%;
	height: 100%;
	border-radius: 0;
	
	@media (min-width: @sm-min) {
		width: 80%;
		height: 80%;
		left: 10%;
		border-radius: 10px;
		.vertical-align;
	}
	
	position: absolute;
	z-index: 1;
	
	header {
		.logo-block {
			position: absolute;
			z-index: 1;
			top: 10px;
			width: 20%;
			height: 20%;
			padding: 0;
			margin: 0;
			
			@media (min-width: @sm-min) {
				top: 30px;
			}
			
			img {
				width: auto;
				height: auto;
				max-width: 100%;
				max-height: 100%;
				z-index: 1;
				//.center-align;
				.vertical-align;
			}
		
			
			&.main-logo {
				left: 10px;
				@media (min-width: @sm-min) {
					left: 30px;
				}
				
				img {
					left: 0;
				}
			}
			
			&.secondary-logo {
				right: 10px;
				
				@media (min-width: @sm-min) {
					right: 30px;
				}
				
				img {
					right: 0;
					float: right;
				}
			}
		}
			
		
	}
}



/* end global.less */