{% extends 'FgmsSurveyBundle:Default:admin.html.twig' %}
{%block body%}
<div style="text-align: center">
<p><a class="btn btn-lg btn-primary " href="/thepalms/start/">The Palms Survey</a></p>
<p><a class="btn btn-lg btn-primary " href="/thesands/start/">The Sands Survey</a></p>
</div>


{% endblock%}
{%block styles %}
{% endblock %}
{% block javascript %}

{% endblock %}