{% extends 'FgmsSurveyBundle:Default:base.html.twig' %}
{%block body%}
<div id="questionnaire" class="wizard question-start  " style="display: none;">
	<div class="content">
		<div class="body">
			<div class="question-title">
				<h3>{{config.survey.text.start.subtitle |raw}}</h3>
				<h2>{{config.survey.text.start.title|raw}}</h2>
			</div>
			<form action="/{{fullslug}}/survey/" method="GET" accept-charset="UTF_8">
				<div class="form-group">
					<input type="text" class="form-control input-lg" name="room" />
				</div>
				<div class="form-group question-input-visual">
					<a href="javascript:void(0)" id="script-go-button" class="btn btn-primary btn-lg">
						START
					</a>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock%}
{%block styles %}{% endblock %}
{% block javascript %}
<script type="text/javascript">
	$(function(){
		$('#questionnaire').fadeIn(1000);
		$('#script-go-button').on('touchstart click',function(e){
			e.stopPropagation();
			e.preventDefault();
			$(this).replaceWith('<i style="margin-left: 24px; font-size: 80px; color: {{config.survey.css.buttons.survey.background.color.normal}}" class="fa fa-spinner fa-spin"></i>');
			$('form').submit();
		});
	})
</script>
{% endblock %}
