{% extends 'FgmsSurveyBundle:Default:base.html.twig' %}
{%block body%}
<div id="questionnaire" class="" style="display: block">
{{ form_start(form)}}
{{ form_end(form)}}
	{% set count = 0 %}
	{% for question in activequestions %}
		{% include "FgmsSurveyBundle:Default:forms/field.html.twig" with { 'question' : question, 'loop' : loop } %}
	{% endfor %}
</div>
<div  class="questionnaire-nav">
	<a href="javascript:void(0)" class="nav-prev btn btn-primary" style="display:none;"><i class="fa fa-caret-left"></i></a>
	<a href="javascript:void(0)" class="nav-next btn btn-primary" style="display:none;"><i class="fa fa-caret-right"></i></a>
	<div class="clearfix" style="clear:both;"></div>
</div>
{% endblock%}
{%block footer%}
{#<div class="start-over-button"><a href="/{{fullslug}}/survey/?room={{room}}">Start Over</a></div>#}
{% endblock %}
{%block styles %}
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="/web/bundles/fgmssurvey/js/jquery.steps.min.js"></script>
<script type="text/javascript">
	$(function(){

		$("#questionnaire").steps({
			headerTag: ".questionnaire-dots",
			titleTemplate : '#title#',
			bodyTag: "section",
			transitionEffect: "slideLeft",
			transitionEffectSpeed: "600",
			autoFocus: true,
			onInit: function(event, currentIndex){
				setNavEnables(currentIndex);

			},
			onStepChanging: function (event, currentIndex, newIndex) { return true; },
			onStepChanged: function (event, currentIndex, priorIndex) {
				setNavEnables(currentIndex);
				/*if (currentIndex == 0) {$('.nav-prev').addClass('disabled');}
				else {	$('.nav-prev').removeClass('disabled');	}*/
			},
			onCanceled: function (event) { },
			onFinishing: function (event, currentIndex) {
				return true;
			},
			onFinished: function (event, currentIndex) {
				$('form').submit();
			},
			labels: {
				cancel: "Cancel",
				current: "current step:",
				pagination: "Pagination",
				finish: "Finish",
				next: "Next",
				previous: "Previous",
				loading: "Loading ..."
			}
		});
		$('#questionnaire').fadeIn(1000);
		$('.finish-button').on('click',function(){
			$('a[href="#finish"]').trigger('click');
		})
		$('textarea[data-field], input[data-field]').on('change',function(){
			$('*[name="form['+ $(this).data('field') +']"]').val($(this).val());
		})
		$('a[data-field]').on('mouseup',function(e){
			$(this).closest('.question-input-visual').find('*[data-field]').removeClass('active');
			var dataValue = $(this).data('value');
			$('*[name="form['+ $(this).data('field') +']"]').val(dataValue);
			$(this).addClass('active');
			if ($('a[href="#next"]').parent().attr('aria-disabled') == 'true') {
				$('a[href="#finish"]').trigger('click');
			}
			else {
				$('a[href="#next"]').trigger('click');
			}
			return false;
		})
		$('a[data-field]').on('touchstart',function(e){
			$(this).closest('.question-input-visual').find('*[data-field]').removeClass('active');
			var dataValue = $(this).data('value')
			$('*[name="form['+ $(this).data('field') +']"]').val(dataValue);
			$(this).addClass('active');
			console.log($('a[href="#next"]').parent().attr('aria-disabled'))
			if ($('a[href="#next"]').parent().attr('aria-disabled') == 'true') {
				$('a[href="#finish"]').trigger('click');
			}
			else {
				$('a[href="#next"]').trigger('click');
			}
			return false;
		});
		//attaches triggers on the forward back nav arrows to move questionnaire
		$('.nav-prev').on('click',function(){$('a[href="#previous"]').trigger('click');	})
		$('.nav-next').on('click',function(){$('a[href="#next"]').trigger('click');	})

		function setNavEnables(currentIndex) {
			var prevIndex = currentIndex - 1;
			var nextIndex = currentIndex + 1;
			prevIndex = (prevIndex < 0 )? 0 : prevIndex;
			var inputFieldPrev = $('#questionnaire-p-'+prevIndex).find('*[data-field]').data('field');
			var inputFieldCurrent = $('#questionnaire-p-'+currentIndex).find('*[data-field]').data('field');
			var inputFieldNext = $('#questionnaire-p-'+nextIndex).find('*[data-field]').data('field');
			if ($('*[name="form['+inputFieldPrev+']"]').val().length > 0){
				$('.nav-prev').fadeIn();
			}
			else {
				$('.nav-prev').fadeOut();
			}
			if ($('*[name="form['+inputFieldNext+']"]').length > 0){
				if ( ($('*[name="form['+inputFieldNext+']"]').val().length > 0) || ($('*[name="form['+inputFieldCurrent+']"]').val().length > 0) ){
					$('.nav-next').fadeIn();
				}
				else {
					$('.nav-next').fadeOut();
				}
			}
			else {
				$('.nav-next').fadeOut();
			}

			if (currentIndex == 0) {$('.nav-prev').fadeOut();}
		}
	})
</script>
{% endblock %}
