
body {
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: left top;
	background-color: #f8f8f8;
	background-size: 100% auto;
}
a:focus {  outline:none;  outline-offset: -2px;}
.column-wrapper{padding: 24px ;position: relative;}
.main .column-wrapper {padding: 12px 24px;	}

.question-index {font-weight: 300; font-style: italic; font-size: 1.2em;}

.question-title {font-size: 56px; text-align: center;	padding-top: 32px;	min-height: 200px;	line-height: 1.2em; font-weight: 600; padding-left: 24px; padding-right: 24px;}
.question-title .small-text {font-size: 34px;line-height: 1em; padding-bottom: 12px;}
.question-title .content { font-size: 18px; margin: -21px 0 24px; line-height: 1.3em;}
.question-input-visual {padding-top: 12px;	text-align: center;}

.questionnaire-nav {position: relative;	height: 0px;}
.questionnaire-nav i {
	font-size: 130px;
	-moz-opacity: 0.80;
	-khtml-opacity: 0.80;
	opacity: 0.80;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=80);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
}
.questionnaire-nav a.disabled i {
	-moz-opacity: 0.10;
	-khtml-opacity: 0.10;
	opacity: 0.10;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=10);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=`0);
	color: #f8f8f8 !important;
}


.question-finish .small-text {padding: 12px 0 36px; line-height: 1.2em;}
.question-start .question-title {padding: 46px 0 0;}
.question-start form {padding-top: 12px;}



.questionnaire-nav .nav-next {	position: absolute;	right: -24px;		top: -296px;}
.questionnaire-nav .nav-prev {	position: absolute;	left: -24px;		top: -296px;}
.btn-lg {	padding: 24px 52px;	font-size: 48px;}
.btn-md { padding: 18px 36px; font-size: 26px;}
.question-input-visual a {	position: relative;}

.question-input-visual a .button-circle {
	font-size: 52px;
	-moz-border-radius: 60px;
	-webkit-border-radius: 60px;
	border-radius: 60px;
	-webkit-box-shadow: 10px 10px 38px -17px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 38px -17px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 38px -17px rgba(0,0,0,0.75);
	margin: 0 12px;


}

.question-input-visual a:hover .button-circle {
	-webkit-box-shadow: 5px 5px 38px -17px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 5px 38px -17px rgba(0,0,0,0.75);
	box-shadow: 5px 5px 38px -17px rgba(0,0,0,0.75);

}

.start-over-button {
	padding: 12px 0;

}
.start-over-button a {
	padding: 12px 48px;
	margin-top: 12px;
	text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.start-over-button a:hover {
	-webkit-box-shadow: 5px 5px 38px -17px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 5px 38px -17px rgba(0,0,0,0.75);
	box-shadow: 5px 5px 38px -17px rgba(0,0,0,0.75);
    -webkit-transition: background-color 200ms ease;
    -moz-transition: background-color 200ms ease;
    -o-transition: background-color 200ms ease;
    transition: background-color 200ms ease;
}


.rating-text {
	position: absolute;
	height: 1.2em;;
	padding: 8px 0px;
	width: 124px;
	left: 0px;
	top: -84px;
}
.question-input-visual a {	text-decoration: none;}
.button-boolean {	font-size: 32px; font-weight: 700 !important; }
.button-text { font-weight: 700 !important;}

.input-lg {
	font-size: 70px;
	line-height: 1.2em;
	height: 100px;
	width: 300px ! important;
	position: relative;
	top: 6px;
}

.survey-results-wrapper {
	background-color: #fff;
	min-height: 400px;
	padding: 24px;
}

.footer {
	position: fixed ;
	bottom: 0;
}
.form-group.form-comment {
	margin: -20px 100px 13px;

}
.form-group.form-comment .form-control {
	font-size: 18px;
}

.table { font-size: 13px;}

/*
    Common
*/

.wizard, .tabcontrol{    display: block;    width: 100%;    overflow: hidden;}
.wizard a, .tabcontrol a{    outline: 0;}
.wizard ul,.tabcontrol ul{   list-style: none !important;    padding: 0;    margin: 0;	display:none;	visibility: hidden;}
.wizard ul > li,.tabcontrol ul > li{    display: block;    padding: 0;}

/* Accessibility */
.wizard > .steps .current-info,
.tabcontrol > .steps .current-info
{
    position: absolute;
    left: -999em;
}

.wizard > .content > .title,
.tabcontrol > .content > .title
{
    position: absolute;
    left: -999em;
}



/*
    Wizard
*/
.wizard > .content
{

    display: block;
    margin: 0.5em 2.5%;
    min-height: 32em;
    overflow: hidden;
    position: relative;
    width: auto;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


.wizard > .content > .body
{
    float: left;
    position: absolute;
    width: 100%;
    height: 95%;
    padding: 2.5%;
}

.wizard > .content > .body ul
{
    list-style: disc !important;
}

.wizard > .content > .body ul > li
{
    display: list-item;
}

.wizard > .content > .body > iframe
{
    border: 0 none;
    width: 100%;
    height: 100%;
}

.wizard > .content > .body input
{
    display: block;
    border: 1px solid #ccc;
}

.wizard > .content > .body input[type="checkbox"]
{
    display: inline-block;
}

.wizard > .content > .body input.error
{
    background: rgb(251, 227, 228);
    border: 1px solid #fbc2c4;
    color: #8a1f11;
}

.wizard > .content > .body label
{
    display: inline-block;
    margin-bottom: 0.5em;
}

.wizard > .content > .body label.error
{
    color: #8a1f11;
    display: inline-block;
    margin-left: 1.5em;
}

.wizard > .actions
{
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
	height: 0;
}



.admin  .main  {padding-top: 16px;	}
.admin .form-control { font-size: 1.2em;}

@media screen and (max-width: 1200px){

}

@media screen and (max-width: 1199px){
	.container {  width: 100%;}
	.header img {display: none; visibility: hidden;}
	/*
	#questionnaire {
		background-image: url('/web/bundles/fgmssurvey/images/logo-the-sands-at-grace-bay.png');
		background-repeat: no-repeat;
		background-position: 75px 75px;
		background-attachment: fixed;
		background-size: auto 15%;
	}*/
	.header .column-wrapper {
		padding: 18px 0 0;
	}
	.question-title  { min-height: 140px; padding-top: 12px; font-size: 42px;}
	.question-input-visual a .button-circle { font-size: 42px;}
	.rating-text  {top: 50px; left: -4px;}
		#questionnaire {
		height: 26em;;
	}
	.wizard > .content{ margin: 0.5em 2.8%;   min-height: 26em;}
	.question-title .small-text {font-size: 28px;}
	.questionnaire-nav .nav-next {	top: -260px;}
	.questionnaire-nav .nav-prev {	top: -260px;}
	body {background-size: 120%, auto;}


}
@media screen and (max-width: 990px){
	body {background-size: auto 180%;}
	.header img {height: 100%;}
	.wizard > .content{ min-height: 30em;}
	.questionnaire-nav .nav-next {	top: -285px;}
	.questionnaire-nav .nav-prev {	top: -285px;}
}
@media screen and (max-width: 768px){
	.header img {height: 100px;}
	.question-title  { min-height: 130px; padding-top: 12px; font-size: 36px; line-height: 1.2em;}
	.question-input-visual a .button-circle { font-size: 36px;}
	.wizard > .content{ margin: 0.5em 4.2%; min-height: 26em;}
	.questionnaire-nav .nav-next {	top: -255px;}
	.questionnaire-nav .nav-prev {	top: -255px;}
	.rating-text {left: -10px}
}
@media screen and (max-width: 480px){
	.header img {height: 70px;}
	.wizard > .content{ margin: 0.5em 0%; min-height: 22em;}
	.question-title  { min-height: 100px; padding-top: 8px; font-size: 28px; line-height: 1.2em;}
	.question-title .small-text {font-size: 24px;line-height: 1em;}
	.questionnaire-nav {display:none; visibility: hidden;}
	.question-input-visual a .button-circle { font-size: 24px; margin: 0 3px;}
	.rating-text  {top: 30px; left: -32px; font-size: 0.9em;}
	.button-boolean {	font-size: 22px;}
	.input-lg {	font-size: 35px;height: 60px; width: 100% !important;}
	.column-wrapper{ padding: 15px }
	.main .column-wrapper {padding: 0;}
	.btn-lg {	margin-top: 24px;padding: 12px 36px;	font-size: 32px;}

}

/*
.wizard.vertical > .actions
{
    display: inline;
    float: right;
    margin: 0 2.5%;
    width: 95%;
}

.wizard > .actions > ul
{
    display: inline-block;
    text-align: left;
}

.wizard > .actions > ul > li
{
    margin: 0 0.5em;
}

.wizard.vertical > .actions > ul > li
{
    margin: 0 0 0 1em;
}

.wizard > .actions a,
.wizard > .actions a:hover,
.wizard > .actions a:active
{
    background: #2184be;
    color: #fff;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.wizard > .actions .disabled a,
.wizard > .actions .disabled a:hover,
.wizard > .actions .disabled a:active
{
    background: #eee;
    color: #aaa;
}

.wizard > .loading
{
}

.wizard > .loading .spinner
{
}

*/

/*
    Tabcontrol
*/
/*
.tabcontrol > .steps
{
    position: relative;
    display: block;
    width: 100%;
}

.tabcontrol > .steps > ul
{
    position: relative;
    margin: 6px 0 0 0;
    top: 1px;
    z-index: 1;
}

.tabcontrol > .steps > ul > li
{
    float: left;
    margin: 5px 2px 0 0;
    padding: 1px;

    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tabcontrol > .steps > ul > li:hover
{
    background: #edecec;
    border: 1px solid #bbb;
    padding: 0;
}

.tabcontrol > .steps > ul > li.current
{
    background: #fff;
    border: 1px solid #bbb;
    border-bottom: 0 none;
    padding: 0 0 1px 0;
    margin-top: 0;
}

.tabcontrol > .steps > ul > li > a
{
    color: #5f5f5f;
    display: inline-block;
    border: 0 none;
    margin: 0;
    padding: 10px 30px;
    text-decoration: none;
}

.tabcontrol > .steps > ul > li > a:hover
{
    text-decoration: none;
}

.tabcontrol > .steps > ul > li.current > a
{
    padding: 15px 30px 10px 30px;
}

.tabcontrol > .content
{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 35em;
    overflow: hidden;
    border-top: 1px solid #bbb;
    padding-top: 20px;
}

.tabcontrol > .content > .body
{
    float: left;
    position: absolute;
    width: 95%;
    height: 95%;
    padding: 2.5%;
}

.tabcontrol > .content > .body ul
{
    list-style: disc !important;
}

.tabcontrol > .content > .body ul > li
{
    display: list-item;
}
*/
