<div class="question-input-visual ">
    <a href="javascript:void(0)" data-field="{{question.field}}" data-value="Yes">
        <span class="fa-stack fa-lg button-circle">
            <i class="fa  fa-circle fa-stack-2x"></i>
            <i class="fa  fa-stack-1x button-boolean button-text" >Yes</i>
        </span>
    </a>
    <a href="javascript:void(0)" data-field="{{question.field}}" data-value="No">
        <span class="fa-stack fa-lg button-circle">
            <i class="fa  fa-circle fa-stack-2x"></i>
            <i class="fa  fa-stack-1x button-boolean button-text" >No</i>
        </span>
    </a>
</div>