<div class="question-input-visual ">
    <div class="polar-group">
        <a class="btn btn-primary btn-circle" href="javascript:void(0)" data-field="{{field}}" data-value="Yes">
            Yes
        </a>
        <a class="btn btn-primary btn-circle" href="javascript:void(0)" data-field="{{field}}" data-value="No">
            No
        </a>
    </div>
</div>